@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
}

@theme {
  --font-satoshi: "Satoshi", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image: url("https://res.cloudinary.com/dszdc6rh8/image/upload/v1763409908/back_pv5lpc.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.65;
  mix-blend-mode: multiply;
  filter: brightness(1.3);
  z-index: 1;
}